// ========= SIDEBAR ========= 
.sidebar {
    @include size($sidebar-w, 100vh);
    @include flex-col(flex-start,flex-start);
    background-color: $c-white;
    color: $c-black;
}
// =========================== 

// ========= MENU =========
.menu {
    padding: $p-s 0;
    position: absolute;
    left: .3rem;
    top: calc(100% + .3rem);
    z-index: 2;
    @include size(100%,max-content);
    min-width: 18.75rem;
    background-color: $c-gray-extralight;
    border: $border;
    border-radius: $btn-radius;
    box-shadow: $shadow;
}
// ========================

// ========= LIST =========
.list {
    padding: $p-s $p-m;
    @include size(100%,100%);
    @include grid(2);
    gap: .5rem;
    @include scrollbar;
}
// ========================

// ========= CARD =========
.card {
    padding: $p-m;
    @include size(100%,$card-h);
    background-color: $c-gray-extralight;
    // border: $border;
    border-radius: $border-radius;
    transition: $btn-transition;
    &:hover {
        box-shadow: $shadow;
    }
}
// ========================

// ========= BUTTON =========
.btn {
    @include flex-row(center, center);
    font-family: $ff-primary;
    font-size: $fontsize;
    border-radius: $btn-radius;
    transition: $btn-transition;
    cursor: pointer;

    &-primary {
        width: 100%;
        max-width: 12.5rem;
        min-height: 2.5rem;
    }
    &-secondary {
        width: 2rem;
        min-height: 2rem;
    }
    &-link {
        width: max-content;
    }
}
// ==========================
