// ========= APP =========
.app {
    display: flex;
    gap: .2rem;
}
// =======================

// ========= WIDTH & HEIGHT =========
.w-full {width: 100%;}
// ==================================

// ========= PADDING =========
// Padding x
.px-s {padding-left: $p-s;padding-right: $p-s;}
.px-m {padding-left: $p-m;padding-right: $p-m;}
.px-l {padding-left: $p-l;padding-right: $p-l;}
// Padding y
.py-s {padding-top: $p-s;padding-bottom: $p-s;}
.py-m {padding-top: $p-m;padding-bottom: $p-m;}
.py-l {padding-top: $p-l;padding-bottom: $p-l;}
// Padding top
.pt-s {padding-top: $p-s;}
.pt-m {padding-top: $p-m;}
.pt-l {padding-top: $p-l;}
// Padding left
.pl-s {padding-left: $p-s;}
.pl-m {padding-left: $p-m;}
.pl-l {padding-left: $p-l;}
// Padding bottom
.pb-s {padding-bottom: $p-s;}
.pb-m {padding-bottom: $p-m;}
.pb-l {padding-bottom: $p-l;}
// Padding right
.pr-s {padding-right: $p-s;}
.pr-m {padding-right: $p-m;}
.pr-l {padding-right: $p-l;}
// ====================================

// ========= MARGIN =========
// Margin x
.mx-auto {margin-left: auto;margin-right: auto;}
// Margin top
.mt-s {margin-top: $m-s;}
.mt-m {margin-top: $m-m;}
.mt-l {margin-top: $m-l;}
// Margin left
.ml-s {margin-left: $m-s;}
.ml-m {margin-left: $m-m;}
.ml-l {margin-left: $m-l;}
// Margin bottom
.mb-s {margin-bottom: $m-s;}
.mb-m {margin-bottom: $m-m;}
.mb-l {margin-bottom: $m-l;}
// Margin right
.mr-s {margin-right: $m-s;}
.mr-m {margin-right: $m-m;}
.mr-m {margin-right: $m-l;}
// ==========================

// ========= BORDERS =========
.divide-top {border-top: $divide;}
.divide-left {border-left: $divide;}
.divide-right {border-right: $divide;}
.divide-bottom {border-bottom: $divide;}
// ===========================

// ========= INPUT =========
.input {
    padding: 0 $p-l;
    @include size(100%,max-content);
    max-width: 12.5rem;
    min-height: 2.5rem;
    @include flex-row(center, flex-start);
    gap: .5rem;
    border-radius: $btn-radius;
    background-color: $c-gray-dark;
    color: $c-white;
    input {
        font-size: $fs-m;
        font-family: $ff-primary;
        color: $c-white;
        &::placeholder {
            color: $c-white;
        }
    }
}
// =========================

// ========= AVATAR =========
.avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}
// ==========================

// ========= TEXT =========
// Font size
.fs-xs{font-size: $fontsize *0.75;}
.fs-s{font-size: $fontsize *0.9;}
.fs-m{font-size: $fontsize ;}
.fs-l{font-size: $fontsize *1.2;}
.fs-xl{font-size: $fontsize *1.5;}
// Font color
.fc-white {color: $c-white;}
.fc-gray {color: $c-gray-extradark;}
.fc-black {color: $c-black;}
// Text transform
.uppercase {text-transform: uppercase;}
// ========================

// ========= POSITION =========
.relative {position: relative;}
// ============================

// ========= BACKGROUND =========
// Static
.bg-white {background-color: $c-white;}
.bg-white-hover {background-color: $c-white; &:hover{background-color: $c-gray-light;}}
.bg-black {background-color: $c-black;}
.bg-black-hover {background-color: $c-black; &:hover{background-color: $c-extrablack;}}
.bg-gray {background-color: $c-gray-light;}
.bg-gray-hover {background-color: $c-gray-light; &:hover{background-color: $c-gray;}}
// ==============================

// Debug
.debug {
    border: .1rem solid crimson;
}