// ========= FLEX =========
.flex {
    display: flex;
    &--col {
        flex-direction: column;
    }
    &--g {
        flex-grow: 1;
    }
    // Align
    &__ali--start {
        align-items: flex-start;
    }
    &__ali--center {
        align-items: center;
    }
    // Justify content
    &__jus--start {
        justify-content: flex-start;
    }
    &__jus--center {
        justify-content: center;
    }
    &__jus--between {
        justify-content: space-between;
    }
}
// ========================
// Gap
.gap-s {gap: .5rem;}
.gap-m {gap: 1rem;}
.gap-l {gap: 1.5rem;}