@mixin size($w,$h) {
    width: $w;
    height: $h;
}
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-row($a,$j) {
    display: flex;
    align-items: $a;
    justify-content: $j;
}
@mixin flex-col($a,$j) {
    display: flex;
    flex-direction: column;
    align-items: $a;
    justify-content: $j;
}