// ========= FONTS =========
// Font family
$ff-primary: 'Lato', sans-serif;
// Font size
$fs-xs: .5rem;
$fs-s: .8rem;
$fs-m: 1rem;
$fs-l: 1.2rem;
$fs-xl: 1.5rem;
$fontsize: 1rem;
// Font weight
$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;
// =========================

// ========= COLORS =========
// Color basic
$c-white: #ffffff;
$c-gray-extralight: #f6f6f6;
$c-gray-light: #dddddd;
$c-gray: #c2c2c2;
$c-gray-dark: #9e9e9e;
$c-gray-extradark: #686868;
$c-black: #2b2b2b;
$c-extrablack: #131313;
// Color components
// ==========================

// ========= BOX =========
// Padding
$p-s: .5rem;
$p-m: 1rem;
$p-l: 1.5rem;
// Margin
$m-s: .5rem;
$m-m: 1rem;
$m-l: 1.5rem;
// =======================

// ========= SIZES =========
$sidebar-w: 15.625rem;
$main-w: 25rem;
$card-h: 15.625rem;
// =========================

// ========= BOX =========
$divide: .05rem solid $c-gray-light;
$border: .05rem solid $c-gray-dark;
$border-radius: .5rem;
$shadow: 0 0 .5rem 0 $c-gray-extradark;
// =======================

// ========= BUTTONS =========
$btn-radius: .5rem;
$btn-transition: .5s;
// ===========================

// Debug
$debug: .1rem solid crimson;